In [1]:
from scipy.stats import ttest_ind, pearsonr, spearmanr, mannwhitneyu
from warnings import filterwarnings as wfw
import datetime as dt
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random as rm
import scipy.stats as st
import seaborn as sns

# ЧТЕНИЕ ДАТАФРЕЙМА

In [2]:
dataframe_row = pd.read_csv('query_result_2022-10-03T07_36_20.3623Z.csv',
                            parse_dates=['order_created_date', 'user_created_date'], dayfirst=True)

In [3]:
dataframe_row.shape

(1463, 10)

In [4]:
dataframe_row.dtypes

order_id                       int64
order_created_date    datetime64[ns]
transaction_value              int64
commission                   float64
processing_cost              float64
promocode_cost               float64
integration_cost             float64
user_id                        int64
user_created_date     datetime64[ns]
user_region_code              object
dtype: object

In [5]:
dataframe = dataframe_row.copy()

In [6]:
dataframe[['transaction_value', 'commission', 'processing_cost', 'promocode_cost', 'integration_cost']] = \
dataframe[['transaction_value', 'commission', 'processing_cost', 'promocode_cost', 'integration_cost']].fillna(0)

In [7]:
dataframe['fixed_costs'] = dataframe.processing_cost + dataframe.integration_cost
dataframe['costs'] = dataframe.fixed_costs + dataframe.promocode_cost
dataframe['costs_share'] = dataframe.costs / dataframe.transaction_value

dataframe

,order_id,order_created_date,transaction_value,commission,processing_cost,promocode_cost,integration_cost,user_id,user_created_date,user_region_code,fixed_costs,costs,costs_share
0,1110097,2021-04-04,4721,429.611,236.0500,150.0,74.1197,121105,2021-03-09,se,310.1697,460.1697,0.097473
1,1110415,2021-04-24,6309,624.591,275.0724,100.0,120.5019,121123,2020-10-17,ua,395.5743,495.5743,0.078550
2,1110406,2021-04-16,3095,318.785,127.2045,0.0,0.0000,121123,2020-10-17,ua,127.2045,127.2045,0.041100
3,1110399,2021-04-14,2017,203.717,84.3106,100.0,49.4165,121123,2020-10-17,ua,133.7271,233.7271,0.115879
4,1110706,2021-04-09,4593,367.440,235.6209,150.0,72.1101,121144,2021-04-07,se,307.7310,457.7310,0.099658
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,1279106,2021-04-20,7410,659.490,400.8810,100.0,116.3370,131125,2021-02-04,de,517.2180,617.2180,0.083295
1459,1279493,2021-04-09,7825,821.625,340.3875,0.0,178.4100,131143,2020-10-12,it,518.7975,518.7975,0.066300
1460,1279499,2021-04-04,5472,536.256,286.7328,0.0,0.0000,131146,2021-03-13,ru,286.7328,286.7328,0.052400
1461,1279726,2021-04-13,6415,551.690,332.2970,100.0,0.0000,131156,2021-01-02,ua,332.2970,432.2970,0.067388
1462,1279720,2021-04-02,5608,448.640,314.6088,150.0,122.2544,131156,2021-01-02,ua,436.8632,586.8632,0.104648

# РАСЧЁТ БАЗОВЫХ ПОКАЗАТЕЛЕЙ

In [9]:
purchases_base = dataframe['order_id'].count()
purchases_base

1463

In [10]:
unique_users_base = dataframe['user_id'].nunique()
unique_users_base

798

In [11]:
purchases_per_user_base = purchases_base / unique_users_base
purchases_per_user_base

1.8333333333333333

In [12]:
total_commision_base = dataframe['commission'].sum()
total_commision_base

743570.973

In [13]:
total_value_base = dataframe['transaction_value'].sum()
total_value_base

7418722

In [14]:
margin_base = total_commision_base / total_value_base
margin_base

0.1002289845879115

In [15]:
total_fixed_costs_base = dataframe['fixed_costs'].sum()
total_fixed_costs_base

476007.3528

In [16]:
total_marketing_costs_base = dataframe['promocode_cost'].sum()
total_marketing_costs_base

109650.0

In [17]:
total_costs_base = total_fixed_costs_base + total_marketing_costs_base
total_costs_base

585657.3528

In [18]:
total_costs_share_base = total_costs_base / total_value_base
total_costs_share_base

0.07894315932043282

# ФИКСАЦИЯ ПАРАМЕТРОВ МОДЕЛИ

In [70]:
prize = 50000 ### билет в Дубай будет выдаваться одному случайному клиенту 
purchases_per_user_model = 10 ### наши ожидания относительно среднего кол-ва покупок на одного клиента
loyalty_cost_share_model = 0.01 ### 1% от суммы транзакции будет возвращен клиенту в рамках программы Loyalty
atv_model = 3000 ### наши ожидания относительно среднего чека при покупке

# МОДЕЛИРОВАНИЕ

In [63]:
### общий прогнозируемый объём операций
def f_income(arg):
    '''
    arg -- кол-во пользователей, совершивших покупку
    '''
    _income = purchases_per_user_model * atv_model * arg
    return _income

In [64]:
income = f_income(148)
income

4440000

In [65]:
### общая прогнозируемая выручка
def f_revenue(arg):
    '''
    arg -- общий прогнозируемый объём операций, income
    '''
    _revenue = arg * margin_base
    return _revenue

In [66]:
revenue = f_revenue(income)
revenue

445016.6915703271

In [67]:
### затраты на программу loyalty
def f_loyalty(arg):
    '''
    arg -- общий прогнозируемый объём операций, income
    '''
    _loyalty = arg * loyalty_cost_share_model
    return _loyalty

In [68]:
loyatly = f_loyalty(income)
loyatly

44400.0

In [69]:
### выручка за вычетом программы лояльности
revenue_exc_loyalty = revenue - loyatly
revenue_exc_loyalty

400616.6915703271

In [72]:
### выручка за вычетом программы лояльности и приза 
revenue_exc_loyalty_and_prize = revenue - loyatly - prize
revenue_exc_loyalty_and_prize

350616.6915703271

In [73]:
### валовое значение костов
def f_gross_costs(arg):
    '''
    arg -- общий прогнозируемый объём операций, income
    '''
    _gross_costs = arg * total_costs_share_base
    return _gross_costs

In [74]:
gross_costs = f_gross_costs(income)
gross_costs

350507.6273827217

In [76]:
### операционная прибыль, то есть выручка минус операционные косты, без учета костов на Loyalty и приза
operation_profit = revenue - revenue_exc_loyalty_and_prize
operation_profit

94400.0

In [77]:
### чистая прибыль
profit = revenue_exc_loyalty_and_prize - gross_costs
profit

109.06418760539964

In [122]:
n = 1
profit = -1
while profit < 0:
    income = f_income(n)
    revenue = f_revenue(income)
    loyatly = f_loyalty(income)
    revenue_exc_loyalty = revenue - loyatly
    revenue_exc_loyalty_and_prize = revenue - loyatly - prize
    gross_costs = f_gross_costs(income)
    operation_profit = revenue - revenue_exc_loyalty_and_prize
    profit = revenue_exc_loyalty_and_prize - gross_costs
    n += 1

print(f'число пользователей, сделавших заказ .......... :{n-1:8.0f}')
print(f'чистая прибыль ................................ :{profit:11.2f}')
print(f'операционная прибыль .......................... :{operation_profit:11.2f}')
print(f'валовые затраты ............................... :{gross_costs:11.2f}')
print(f'выручка за вычетом программы лояльности и приза :{revenue_exc_loyalty_and_prize:11.2f}')
print(f'выручка за вычетом программы лояльности ....... :{revenue_exc_loyalty:11.2f}')
print(f'затраты на программу лояльности ............... :{loyatly:11.2f}')
print(f'общая прогнозируемая выручка .................. :{revenue:11.2f}')
print(f'общий прогнозируемый объём операций ........... :{income:11.2f}')

число пользователей, сделавших заказ .......... :     148
чистая прибыль ................................ :     109.06
операционная прибыль .......................... :   94400.00
валовые затраты ............................... :  350507.63
выручка за вычетом программы лояльности и приза :  350616.69
выручка за вычетом программы лояльности ....... :  400616.69
затраты на программу лояльности ............... :   44400.00
общая прогнозируемая выручка .................. :  445016.69
общий прогнозируемый объём операций ........... : 4440000.00